.performances {
    &-title {
        margin-bottom: 64px;
    }

    &-description {
        margin-bottom: 64px;
    }

    &-action {
        margin-top: 48px;
        margin-bottom: 32px;
    }

    &-actions {
        margin-top: 48px;
        margin-bottom: 32px;
        display: flex;
        gap: 76px;
    }
}