.feedback {
    &-title {
        margin-bottom: 42px;
    }

    &-description {
        margin-bottom: 42px;
    }

    &-info {
        margin-bottom: 42px;
    }

    &-actions {
        display: flex;
        gap: 24px;
    }
}