html {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    background-image: url('./assets/background.png');
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

#root {
    height: 100%;
}

p {
    margin: 0;
    color: white;
}