.recorder {
    &__controls {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        gap: 16px;

        &-control {
            color: white;
            border: 3px solid white;
            background-color: transparent;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;

            img {
                width: 30px;
            }

            &:hover {
                color: rgb(160, 160, 160);
                border-color: rgb(160, 160, 160);
            }

            &--retry {
                
            }
        }
    }
}

.recorder {
    &__countdown {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 60px;
        font-weight: bold;
        color: #ff4d4f;
        background: rgba(0,0,0,0.6);
        padding: 6px 12px;
        border-radius: 8px;
    }
}

