.recorder {
    &__actions {
        margin-top: 20px;
        display: flex;
        gap: 32px;
    }
}

.recorder-countdown {
    background-color: black;
    width: 880px;
    height: 495px;

    &__text {
        color: white;
        font-size: 100px;
        text-align: center;
        line-height: 495px;
    }
}