.page {
    justify-content: start;
}

.homepage {
    &-wrapper {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &-email-box {
            display: flex;
            gap: 32px;
            align-items: center;
        }
    }
}