.homepage {    
    &-title {
        margin-bottom: 8px;
    }

    &-description {
        margin-top: 16px;
    }

    &-email-description {
        margin-top: 36px;
    }

    &-email-box {
        margin-top: 36px;
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &-action {
        margin-top: 36px;
    }
}